---
name: Promote branch
on:
  workflow_dispatch:
    inputs:
      promotion-type:
        description: The type of promotion to perform
        type: choice
        required: true
        default: development-to-staging
        options:
          - development-to-staging
          - staging-to-production
jobs:
  promote-controller:
    name: Promote controller
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4
        with:
          fetch-depth: 1  # Fetch full history for commit analysis

      - name: Create PR
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          echo "Creating PR to promote the Internal Services controller"
          bash -x .github/scripts/promote-controller.sh \
            -s "$FROM_BRANCH" \
            -t "$TO_BRANCH" \
            -i https://github.com/theflockers/infra-common-deployments.git \
            -r https://github.com/konflux-ci/internal-services.git \
            -c internal-services \
            -f FROM=components/internal-services/internal-"$FROM_BRANCH"/manager/manager-*.yaml,TO=components/internal-services/internal-"$TO_BRANCH"/manager/manager-*.yaml \
            -j ".spec.template.spec.containers[0].image" \
            -o "${{github.actor}}"
